@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* > * {
  font-family: "Poppins", cursive;
  margin: 0;
}

:root {
  --color-dark: #2c3131;
  --color-light: #f3f3f2;
}

.ProfileContainer {
  height: 70px;
  width: 50%;
  background-color: rgb(168, 216, 255);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 2em;
  filter: drop-shadow(1px 1px 3px #c9c9c9);
  transition: transform 100ms;
}

.ProfileContainer:hover {
  transform: scale(1.1);
  transform-origin: center;
  transition: transform 300ms;
}

.ProfileContainer .flex {
  display: flex;
  align-items: center;
  float: left;
  height: 100%;
  width: 15%;
}

.ProfileContainer .center {
  width: 50%;
}

.ProfileContainer h3 {
  padding-right: 30px;
}

.ProfileContainer .right {
  display: flex;
  align-items: center;
  text-align: right;
  float: right;
  width: 30%;
  margin-right: 10px;
}

.ProfileContainer .flex img {
  padding: 30%;
  display: block;
  border-radius: 50%;
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
}

.ProfileContainer .flex Button {
  background-color: blue;
}
